body{
    color: rgb(75, 150, 0);
    text-align: center;
    font-size: 15px;

}
nav{
    background-color: rgb(81, 49, 131);
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    justify-content: center;
    list-style-type: none;

}
li{
    padding: 15px;
}
li:hover{
    background-color: brown;
    color: rgb(255, 255, 255);
}
main{
    background-image: url(http://drive.google.com/uc?export=view&id=15Yc6YPn1NqOKX9jXdJbaAMizYsUacUU_);
    overflow: hidden;
    height: 90vh;
}
