header{
    background-color: chocolate;
    text-align: center;
    color: darkgreen;
    font-size: 25px;
}



body{
    background-color: blue;
    color: chartreuse;
    text-align: center;
    font-size: 15px;
}
nav{
    background-color: white;
}
ul{
    display: flex;
    justify-content: center;
    list-style-type: none;

}
li{
    padding: 15px;
}
li:hover{
    background-color: brown;
    color: white;
}